# 6. Pandas

Utilice la base de datos `nyc_taxis.csv`

Let's work with a subset of the New York City taxi trip data released by the city. We'll focus on about 90,000 yellow taxi trips to and from various NYC airports between January and June 2016. Here are some selected columns from the dataset:

- `pickup_month`: the month of the trip (January is 1, December is 12)
- `pickup_day`: the day of the month of the trip
- `pickup_location_code`: the airport or borough where the trip started
- `dropoff_location_code`: the airport or borough where the trip ended
- `trip_distance`: the distance of the trip in miles
- `trip_length`: the length of the trip in seconds
- `fare_amount`: the base fare of the trip, in dollars
- `total_amount`: the total amount charged to the passenger, including all fees, tolls, and tips


Review the dictionary data [here](https://s3.amazonaws.com/dq-content/289/nyc_taxi_data_dictionary.md).

Our data is stored in a CSV file called `nyc_taxis.csv`

Calcule:
1. El promedio de la distancia de viaje (`trip_distance`) para cada mes (`pickup_month`)
2. Cantidad de viajes desde JFK por día del mes

In [1]:
import pandas as pd
file_root = "nyc_taxis.csv"
df_taxi = pd.read_csv(file_root)

In [2]:
# Si el archivo está en un subcarpeta
subfile_root = "data/nyc_taxis_copy.csv"
df_taxi_copy = pd.read_csv(subfile_root)

In [3]:
# Para un archivo *.xlsx
root_problemas = "data/Problema mas importante 2015-2023.xlsx"
df_problemas = pd.read_excel(root_problemas)
# df_problemas

Calcule:
1. El promedio de la distancia de viaje (`trip_distance`) para cada mes (`pickup_month`)
2. Cantidad de viajes desde JFK por día del mes

In [4]:
df_taxi.columns

Index(['pickup_year', 'pickup_month', 'pickup_day', 'pickup_dayofweek',
       'pickup_time', 'pickup_location_code', 'dropoff_location_code',
       'trip_distance', 'trip_length', 'fare_amount', 'fees_amount',
       'tolls_amount', 'tip_amount', 'total_amount', 'payment_type'],
      dtype='object')

In [5]:
df_taxi["trip_distance"].mean()

12.924778936910084

In [6]:
# Distancia de viaje (`trip_distance`) promedio para cada mes (`pickup_month`)
df_taxi.groupby("pickup_month")["trip_distance"].mean()

pickup_month
1    13.039750
2    13.145227
3    12.702256
4    12.808012
6    12.964744
Name: trip_distance, dtype: float64

In [7]:
# Monto total (`total_amount`) promedio para cada día de la semana (`pickup_dayofweek`)
df_taxi.groupby("pickup_dayofweek")["total_amount"].mean()

pickup_dayofweek
1    47.946656
2    47.193636
3    48.406652
4    51.886424
5    48.311690
6    48.000048
7    47.373450
Name: total_amount, dtype: float64

In [8]:
# Cantidad de viajes desde JFK por día del mes
# Filtrando por viajes de sdes JFK: 

# Son equivalentes
df_taxi[df_taxi["pickup_location_code"] == 2]
df_taxi[df_taxi.pickup_location_code == 2]
df_taxi.loc[ df_taxi.pickup_location_code == 2, :]
df_taxi.loc[ df_taxi.pickup_location_code == 2]

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type
0,2016,1,1,5,0,2,4,21.00,2037,52.0,0.8,5.54,11.65,69.99,1
1,2016,1,1,5,0,2,1,16.29,1520,45.0,1.3,0.00,8.00,54.30,1
2,2016,1,1,5,0,2,6,12.70,1462,36.5,1.3,0.00,0.00,37.80,2
3,2016,1,1,5,0,2,6,8.70,1210,26.0,1.3,0.00,5.46,32.76,1
4,2016,1,1,5,0,2,6,5.56,759,17.5,1.3,0.00,0.00,18.80,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004,2016,6,30,4,5,2,4,17.60,4196,52.0,0.8,5.54,0.00,58.34,2
2009,2016,6,30,4,5,2,4,19.80,2368,52.0,0.8,5.54,0.00,58.34,1
2010,2016,6,30,4,5,2,4,17.48,2822,52.0,0.8,5.54,5.00,63.34,1
2011,2016,6,30,4,5,2,6,12.76,1083,34.5,1.3,0.00,8.95,44.75,1
2012,2016,6,30,4,5,2,0,17.54,1711,48.0,1.3,5.54,0.00,54.84,2

In [9]:
df_taxi_jfk = df_taxi[df_taxi.pickup_location_code == 2]

df_taxi_jfk.groupby("pickup_day").size()

df_taxi[df_taxi.pickup_location_code == 2].groupby("pickup_day").size()

pickup_day
1     158
2      13
3      10
4     141
5      40
13     60
22     27
23     28
24     63
28     46
30    138
dtype: int64

In [10]:
df_taxi_jfk.groupby("pickup_day")["tolls_amount"].sum()

df_taxi[df_taxi.pickup_location_code == 2].groupby("pickup_day")["tolls_amount"].sum()

pickup_day
1     426.58
2      22.16
3      16.62
4     380.60
5      83.10
13    177.28
22     72.02
23     88.64
24    171.74
28    155.12
30    415.50
Name: tolls_amount, dtype: float64

In [11]:
# número de filas y columnas
num_filas, num_cols = df_taxi.shape
print("num de filas: ", num_filas, ", num de cols: ", num_cols)

num de filas:  2013 , num de cols:  15

In [12]:
# calcular la velocidad promedio según `pickup_dayofweek`

# calcular velocidad: distancia / tiempo
df_taxi["trip_mph"] = df_taxi["trip_distance"] / (df_taxi["trip_length"] / (60*60))
df_taxi

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type,trip_mph
0,2016,1,1,5,0,2,4,21.00,2037,52.0,0.8,5.54,11.65,69.99,1,37.113402
1,2016,1,1,5,0,2,1,16.29,1520,45.0,1.3,0.00,8.00,54.30,1,38.581579
2,2016,1,1,5,0,2,6,12.70,1462,36.5,1.3,0.00,0.00,37.80,2,31.272230
3,2016,1,1,5,0,2,6,8.70,1210,26.0,1.3,0.00,5.46,32.76,1,25.884298
4,2016,1,1,5,0,2,6,5.56,759,17.5,1.3,0.00,0.00,18.80,2,26.371542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008,2016,6,30,4,5,3,4,9.50,1989,31.0,1.3,5.54,3.00,40.84,1,17.194570
2009,2016,6,30,4,5,2,4,19.80,2368,52.0,0.8,5.54,0.00,58.34,1,30.101351
2010,2016,6,30,4,5,2,4,17.48,2822,52.0,0.8,5.54,5.00,63.34,1,22.299079
2011,2016,6,30,4,5,2,6,12.76,1083,34.5,1.3,0.00,8.95,44.75,1,42.415512
2012,2016,6,30,4,5,2,0,17.54,1711,48.0,1.3,5.54,0.00,54.84,2,36.904734

In [13]:
df_taxi.groupby("pickup_dayofweek")["trip_mph"].min()

pickup_dayofweek
1    0.802051
2    0.000000
3    0.000000
4    0.000000
5    0.000000
6    0.000000
7    0.000000
Name: trip_mph, dtype: float64